* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 150px;

    color: rgb(33, 75, 33);
    font-size: 46px;
    font-weight: 900;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x-score, .y-score {
    color: rgb(144, 40, 40);
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: rgb(78, 67, 51);
}

.grid-container {
    background-color: rgb(78, 67, 51);

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
}

.grid-cell {
    background-color: rgb(84, 141, 122);
    align-content: center;
    text-align: center;
    font-size: 84px;
    color: rgb(214, 200, 76);
    font-weight: 900;
    border-radius: 15px;

    border: none;
}

.overlay {
    align-content: center;
    text-align: center;
    font-size: 80px;
    color: rgb(36, 81, 25);
    font-weight: 900;
    
    border-radius: 10px;

    position: absolute;
    background-color: rgba(245, 245, 245, 0.516);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.play-again {
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(36, 81, 25);
    color: rgb(228, 213, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

.play-again:active {
    border: 3px solid #543720;
}